body {
    background-color: #FFE6E6;
  }

hr {
    border: dotted #E0DECA;
    border-width: 0px 0px 10px 0px;
    width: 7%;
}


h1    {
    
    color: #826F66;
    

}

h3 {
   
    color: #826F66;
    
 }
